@import "Reset.css";
@import "variable.css";

/* components */
@import "components/status-bar.css";

/* screens */
@import "screens/Main-home.css";
@import "screens/bellpress.css";

/* font */
@font-face {
  font-family: "SeoulHangangM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
}

body {
  width: 100%;
  background-color: black;
}

span {
  font-family: "SeoulHangangM";
}
