* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SeoulHangangM";
}
/* 폰트 고치기*/

.container .input {
  border: 10;
  outline: none;
}

.search_wrap {
  width: 450px;
  margin: 38px auto;
}

.search_wrap .search_box {
  position: relative;
  width: 450px;
  height: 60px;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  border-color: #3e8bf3;
  padding-left: 65px;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  z-index: 1;
  left: 0;
}

.search_wrap .search_box .btn .gumsek {
  position: absolute;
  top: 62%;
  left: 45%;
  transform: translate(-50%, -50%);
}

/*https://github.com/codingmarket07/Search-Box-Designs-/blob/master/styles.css*/
