@import "reset.css";

body {
  background-color: #111111;
  font-family: "SeoulHangangM";
  /*font-weight: bold;*/
}

#top-bar {
  background-color: #206ef4;
  display: flex;
  text-align: center;
  height: 165px;
}

.bus_station-icon {
  margin-top: 13px;
  margin-left: 13px;
  margin-bottom: 15px;
}
.top-bar__row {
  width: 100%;
  height: 80px;
  font-size: 30px;
  padding-top: 40px;
  position: relative;
  left: -60px;
  
}

h2 {
  padding-bottom: 25px;
  color: #f9fe7e;
}

#next_row {
  color: #e0e0e0;
}

#main-body {
  margin-top: 80px;
}

.main-body__row {
  width: 100%;
  height: 155px;
  border: 3px solid black;
  border-style: solid none;
  margin-bottom: 30px;
}

.phone-icon,
.metro-icon {
  padding-left: 25px;
  padding-top: 30px;
}

.main-body__row-text {
  font-size: 28px;
  position: relative;
  bottom: 30px;
  left: 37px;
  color: #f9fe7e;
}
