.Main-home {
  display: flex;
  flex-direction: column;
}
.Main-home__icon {
  text-align: center;
  font-size: 20px;
  color: #f9fe7e;
  font-weight: 1000;
  width: 100%;
  padding: 8px 0px 20px 0px;
}
.Main-home__img {
  width: 70px;
  height: 80px;
  display: block;
  margin: auto;
}
.status-bar__Main-icon {
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: column;
}
.status-bar__Menu {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
}
